scrapy
sentence-transformers>=2.2.0,<3.0.0
transformers>=4.30.0,<5.0.0
torch>=1.13.0
tokenizers>=0.13.0
langchain-huggingface
pandas 
faiss-cpu 
openai
langchain_google_genai
python-dotenv
langchain
langchain_community
fastapi
uvicorn[standard]
pydantic
streamlit
requests
plotly